{% extends 'customer/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid mt-5">

    <div class="row">

        <div class="col-md-5 col-sm-12 p-4 text-center">
            <h1>OrderId : <span id="id">{{pk}}</span></h1>
            <h1>Hey <b>{{name}}</b> your Order is Submitted!</h1>
            <p>You should receive a confirmation on <b>{{email}}</b> soon.</p>
            <a href="{% url 'index' %}">Go to the homepage</a>
        </div>

        <div class="col-md-7 col-sm-12 text-center">

                <div class="text-center">

                    <h3 class="pb-3">Order Summary:</h3>

                    {% for item in items %}
                    <div class="row mb-5 text-center">
                        <div class="col-md-2 col-sm-12 ">
                            <img class="rounded" src="{{ item.image.url }}" width="100" height="70"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <p>{{ item.name }} <span class="pl-3" >{{ item.price }} </span>Rs</p>
                        </div>
                    </div>
                    {% endfor %}

                    <p class="font-weight-bold pt-4">Total: <span id="total">{{ price }}</span> Rs</p>
                </div>
                
                <div id = "paypal-button-container" ></div>

                <div class="row justify-content-center pb-2 pt-5">
                    <div class="col-md-6 text-center">
                        <h3>Pay Now or Pay With Cash At Delivery</h3>
                    </div>
                </div>
                <div class="row justify-content-center pb-5">
                    <div class="col-md-6 text-center">
                        <div id="paypal-button"></div>
                    </div>
                </div>

        

</div>




</div>
{% endblock content %}


{% block js %}

<!-- <script src="https://www.paypalobjects.com/api/checkout.js"></script> -->
<script src="{% static 'customer/checkout.js' %}"></script>
<script src="{% static 'customer/paypal_integration.js' %}"></script>


<!-- <script src="https://www.paypal.com/sdk/js?client-id=AdF_iZDs4UXAo7WKaS5R66PC1VC4niy4HbRZ5jPGZwzX_GV2kVje9YMNW4Fv2Vo59dPJBG65NRW_u3oq&components=buttons"></script>
<script src="{% static 'customer/paypal_sdk.js' %}"></script> -->

{% endblock js %}